header {
  width: 100vw;
  position: fixed;
  top: 0;

  background-color: white;

  box-shadow: black 0px .05px 5px 0px;

  padding: 22px 30px;
}

header > nav {
  margin: 0px;
  padding: 0px;
}

header > nav > img {
  width: 82px;
  margin: 0px;
}