:root {
  --navbar-height: 80px;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;

  background-color: white;

  box-shadow: black 0px .05px 5px 0px;

  padding: 22px 30px;
}

  header > nav {
    margin: 0px;
    padding: 0px;
  }

    header > nav > img {
      width: 82px;
      margin: 0px;
    }

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--navbar-height);
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8.5px;
  width: fit-content;
  height: fit-content;

  padding-top: 33px;
  margin-right: auto;
  margin-left: auto;
}

  .images-grid > div > img {
    max-width: 72px;
    border-radius: 9px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    margin: 0;
  }

  .grid-item:nth-child(even)
  {
    padding-top: 50px;
  }

  .grid-item:nth-child(1)
  {
    justify-content: center;
  }